@{
    ViewData["Title"] = "Home Page";
}

@* HERO *@
<section class="shadow-sm font-poppins bg-yellow-200">
    <div class="relative overflow-hidden bg-yellow-200">
        <div class="mx-auto max-w-7xl">
            <div class="relative z-10 pb-8 sm:pb-16 md:pb-20 lg:max-w-2xl lg:full lg:pb-28 xl:pb-32">
                <div class="px-4 mx-auto mt-10 max-w-7xl sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                    <div class="max-w-lg mx-auto mb-8 text-center lg:max-w-md lg:mx-0 lg:text-left">
                        <h2 class="mt-6 text-4xl font-bold leading-10 tracking-tight text-gray-800 dark:text-gray-300 md:text-6xl">
                            Găsește-ți prietenul pentru totdeauna!
                        </h2>
                        <p class="mt-6 tracking-wide text-gray-600 dark:text-gray-400 sm:mt-5 sm:text-md sm:max-w-xl sm:mx-auto md:mt-5">
                            Bine ai venit în lumea minunată a adopției de animale! Iți oferim oportunitatea de a găsi și adopta un companion perfect, care să îți aducă bucurie și fericire în viață.
                        </p>
                        <div class="justify-center mt-6 lg:justify-start sm:flex">
                            <div class="mt-3 sm:mt-0 sm:ml-3">
                                <a href="#"
                                   class="flex items-center justify-center w-full px-8 py-3 text-gray-100 bg-yellow-600 rounded-md shadow hover:bg-yellow-500 ">
                                    View Intro
                                </a>
                            </div>
                            <div class="mt-3 sm:mt-0 sm:ml-3">
                                <a href="#"
                                   class="flex items-center justify-center w-full px-8 py-3 text-yellow-600 bg-gray-100 rounded-md shadow hover:text-gray-100 hover:bg-yellow-500 ">
                                    Explore Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:absolute lg:inset-y-9 lg:right-0 lg:w-1/2">
            <img src="/images/image1.png" alt="">
        </div>
    </div>
</section>
@* About Us *@
<section class="flex items-center font-poppins bg-yellow-100 ">
    <div class="justify-center flex-1 py-4 mx-auto lg:py-6 md:px-6">
        <div class="flex flex-wrap">
            <div class="w-full px-4 mb-10 lg:w-1/2 lg:mb-0">
                <img src="/images/aboutus.png" alt=""
                     class="relative z-40 object-cover w-full h-96 rounded-3xl">
            </div>
            <div class="w-full px-4 mb-10 lg:w-1/2 lg:mb-0 ">
                <h2 class="mb-4 text-4xl font-semibold text-blue-500 dark:text-gray-300">
                    About Us
                </h2>
                <p class="mb-10 text-base leading-7 text-gray-500 dark:text-gray-400">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                </p>
            </div>
        </div>
    </div>
</section>

@* Blog List *@
<section class="flex items-center bg-gray-100 dark:bg-gray-800">
    <div class="p-4 mx-auto max-w-7xl">
        <div class="grid grid-cols-1 gap-4 lg:gap-8 sm:gap-4 sm:grid-cols-2 lg:grid-cols-3">
            <a class="mb-0 overflow-hidden bg-white rounded shadow dark:bg-gray-700" href="#">
                <div class="relative overflow-hidden h-72">
                    <img class="object-cover w-full h-full transition-all hover:scale-110"
                         src="/images/article1.png" alt="">
                </div>
                <div class="relative z-20 p-8 -mt-12 ">
                    <span class="inline-block px-4 py-2 mb-5 text-xs text-white bg-blue-500 rounded">
                        Pet knowledge
                    </span>
                    <h2 class="mb-3 text-2xl font-bold leading-9 text-blue-800 dark:text-white">
                        Lorem ipsum dolor sit amet, consectetur
                    </h2>
                    <p class="mb-4 text-base leading-7 text-gray-400">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam
                    </p>

                </div>
            </a>
            <a class="mb-0 overflow-hidden bg-white rounded shadow dark:bg-gray-700" href="#">
                <div class="relative overflow-hidden h-72">
                    <img class="object-cover w-full h-full transition-all hover:scale-110"
                         src="/images/article2.png" alt="">
                </div>
                <div class="relative z-20 p-8 -mt-12 ">
                    <span class="inline-block px-4 py-2 mb-5 text-xs text-white bg-blue-500 rounded">
                        Pet knowledge
                    </span>
                    <h2 class="mb-3 text-2xl font-bold leading-9 text-blue-800 dark:text-white">
                        Lorem ipsum dolor sit amet, consectetur
                    </h2>
                    <p class="mb-4 text-base leading-7 text-gray-400">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                </div>
            </a>
            <a class="mb-0 overflow-hidden bg-white rounded shadow dark:bg-gray-700" href="#">
                <div class="relative overflow-hidden h-72">
                    <img class="object-cover w-full h-full transition-all hover:scale-110"
                         src="/images/article3.png" alt="">
                </div>
                <div class="relative z-20 p-8 -mt-12 ">
                    <span class="inline-block px-4 py-2 mb-5 text-xs text-white bg-blue-500 rounded">
                        Pet knowledge
                    </span>
                    <h2 class="mb-3 text-2xl font-bold leading-9 text-blue-800 dark:text-white">
                        Lorem ipsum dolor sit amet, consectetur
                    </h2>
                    <p class="mb-4 text-base leading-7 text-gray-400">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                </div>
            </a>
        </div>
    </div>
</section>


