@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Schimbare Parola";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<style>
    .password-container {
        margin-left: 120px;
    }

    .form-floating {
        margin-bottom: 20px;
    }

    .btn-brown {
        background-color: #8B735B;
        color: #fff;
        transition: background-color 0.3s;
    }

        .btn-brown:hover {
            background-color: #C8AD84;
        }
</style>

<div class="password-container">
   
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row">
        <div class="col-md-6">
            <form id="change-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.OldPassword" class="form-label"></label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.NewPassword" class="form-label"></label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-brown">Schimba parola</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
