@page
@model IndexModel
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<style>
    .profile-container {
        margin-left: 120px;

    }

    #profile-form {
        width: 100%; 
    }

    .form-floating {
        margin-bottom: 20px; 
    }

    #update-profile-button {
        background-color: #8B735B; 
        color: #fff; 
        transition: background-color 0.3s; 
    }

    #update-profile-button:hover {
            background-color: #C8AD84; 
        }

  
</style>

<partial name="_StatusMessage" for="StatusMessage" />

<div class="profile-container">
    <div class="row">
        <div class="col-md-6">
            <form id="profile-form" method="post">
                <br />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Username" class="form-control" disabled />
                    <label asp-for="Username" class="form-label"></label>
                </div>
                <br />
                <div class="form-floating">
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <br />
                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Salvare</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
