@{
    ViewData["Title"] = "Vitalitatea animalutului tau de companie";
}

<header class="bg-blue-800 text-white text-center p-6">
    <h1 class="text-4xl font-bold">Vitalitatea animalutului tau de companie</h1>
</header>

<article class="py-8 px-4">
    <section class="mb-10">
        <h2 class="text-3xl text-blue-800 font-bold mb-4">Mișcarea este foarte importantă pentru câine</h2>

        <div class="bg-orange-200 p-4 rounded-lg shadow-lg">
            <p class="text-gray-700 mb-4">
                Instinctul animalic îi alimentează nevoia de mișcare, de cunoaștere și de explorare, de aceea este important să îi asigurați acea doză de mișcare, întrucât este firesc să-și antreneze musculatura, indiferent de rasa de câine sau de talia acestuia.

                Și ei au nevoie de plimbare, cum și noi avem, iar aerul curat și natura îl relaxează pe câine și îi oferă prilejul să fie în elementul lui, motiv pentru care este esențial pentru sănătatea lui fizică și pentru starea de spirit să practice cât mai des astfel de activități.
            </p>
        </div>
    </section>

    <section class="mb-10">
        <h2 class="text-3xl text-blue-800 font-bold mb-4">Hrana este cel mai important element care facilitează dezvoltarea sănătoasă a câinelui</h2>
        <p class="text-gray-700 mb-6">

            <div class="bg-orange-200 p-4 rounded-lg shadow-lg">
                <p class="text-gray-700 mb-4">
                    În primul rând, aceasta trebuie să fie de calitate, întrucât este în strânsă legătură cu sănătatea, vitalitatea, frumusețea și comportamentul pe care îl are câinele.

                    Însă, pe măsură ce câinele crește și se maturizează, nevoile sale nutriționale se schimbă, așadar și hrana trebuie să fie adaptată, potrivit royalcanin.com.

                    Oamenii cate dețin un câine trebuie să știe că există două tipuri de hrană pentru ei, fiecare cu proprietățile sale unice și, recomandat ar fi să fie prezente în alimentație. Pe de o parte, vorbim despre hrană uscată pentru câini și hrană umedă.

                    Hrana uscată este benefică pentru păstrarea sănătății dentiției canine, fiind bogată în nutrienți și sățioasă, dar, mai ales, esențială pentru buna funcționare a sistemului digestiv.

                    Hrana umedă are un aport de proteine și, desigur, are un miros care îl ademenește pe câine, simțurile lor olfactive sunt mult mai sensibile și avansate în comparație cu cele ale omului.
                </p>
            </div>
    </section>


    <section class="mb-10">
        <h2 class="text-3xl text-blue-800 font-bold mb-4">Starea de sănătate trebuie verificată periodic</h2>

        <div class="bg-orange-200 p-4 rounded-lg shadow-lg">
            <p class="text-gray-700 mb-4">
                Oamenii care au acasă un animal de companie nu trebuie să neglijeze niciodată importanța consultului medical de specialitate. Este esențial pentru o bună dezvoltare a câinelui să fie examinat periodic și constant și să i se administreze la timp medicația.

            </p>
        </div>
    </section>
</article>
