@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="card-text" style="font-size: 25px; font-weight: bold; margin-top: 20px; margin-bottom: 20px;">
    <p>
        Va rugam verificati-va mail-ul pentru a reseta parola.
    </p>
</div>

